

@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');

body {
    padding: 0%;
    margin: 0%;
    font-family: 'Quicksand', sans-serif;
    /* font-family: 'Titan One', cursive; */
    overflow-x: hidden;
    background-color: hsl(232, 40%, 28%);
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

/*========================================Navegacion=====================================*/

.nav-container {
    /* background-color: #001dc2cc; */
    /* background-color: rgb(138, 018, 020); */
    background-color: rgb(000, 015, 117);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 10vh;
    position: fixed;
    left: 0;
    z-index: 10;
}

.img-and-name {
    /* background-color: brown; */
    width: 40%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 1rem;
}

.img-container img {
    /*background-color: brown;*/
    height: 55px;
    margin: 0.5rem;
}

.name-container a {
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
}

.menu-nav {
    /* background-color: brown; */
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.menu-nav li {
    /* background-color: brown; */
    padding: 0.4rem;
    border-radius: 0.5rem;
}

.menu-nav li:hover {
    background-color: rgba(0, 0, 0, .3);
}

.menu-nav a {
    /* background-color: cadetblue; */
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}

.btn-menu {
    font-size: 25px;
    margin-right: 20px;
    color: white;
    cursor: pointer;
    display: none;
}

ul.show {
    top: 10vh;
}

/*========================================HEADER=====================================*/

.header-container {
    /* background-color: brown; */
    padding-top: 92px;
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    background-color: #006236;
    /* background-color: #096bc2; */
}

.welcome-container {
    /* background-color: burlywood; */
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 6rem;
    font-size: 1.5rem;
    text-align: center;
    color: white;
    font-family: 'Quicksand', sans-serif;
}

.welcome-container h1 {
    font-family: 'Titan One', cursive;
}

.carrusel-container {
    width: 50%;
}

/*========================================SECTION CAMP NOU=====================================*/

.section-camp {
    padding-top: 3rem;
}

.camp-container {
    background-color: hsl(232, 40%, 28%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* margin-top: 2rem; */
}

.img-camp {
    background-color: hsl(232, 40%, 28%);
    width: 30%;
    padding: 1rem;
}

.img-camp img {
    width: 100%;
}

.camp-info {
    background-color: hsl(232, 40%, 28%);
    width: 30%;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 1rem;
    color: white;
    font-size: 1.5rem;
}

.camp-info p {
    width: 100%;
}

/*========================================SECTION CARDS PLAYER=====================================*/

.section-container {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
    /* box-sizing: border-box; */
}

.plantilla-title {
    /* background-color: rgba(0, 0, 0, .4); */
    background-color: hsl(232, 40%, 28%);
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-weight: bold;
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    font-family: 'Titan One', cursive;
    color: white;
}

.cards-player {
    background-color: hsl(232, 40%, 28%);
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card-player {
    margin: 1rem;
}

.card-title {
    font-weight: bold;
    color: rgb(000, 015, 117);
}

.card-img-top:hover {
    transform: translateY(-5px) scale(1.13);
    transition: .5s;
    /* box-shadow: 0px 5px 0px 0px #0d2033; */
}

/*========================================SECTIONM DT=====================================*/

.section-dt {
    /* background-color: #006236; */
    width: 100vw;
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.dt-container {
    /* background-color: aliceblue; */
    display: flex;
    width: 40%;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.dt-title {
    /* background-color: #0d2033; */
    width: 100%;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: center;
}

.dt-title h2 {
    font-family: 'Titan One', cursive;
    color: white;
}

.dt-card {
    /* background-color: aquamarine; */
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.entrenamiento-container {
    width: 90%;
    display: flex;
    justify-content: center;
}

.entrenamiento-container img {
    width: 100%;
}

.title-img-e {
    /* background-color: #55acee; */
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

/*========================================SUPLENTES=====================================*/

.suplentes-container {
    padding-top: 3rem;
}

/*========================================COPAS=====================================*/

.copas-container {
    padding-top: 5rem;
    padding-bottom: 3rem;
}

.card-body {
    text-align: center;
}

/*========================================CAMISETAS=====================================*/

.camisetas-container {
    /* background-color: #55acee; */
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.camisetas {
    /* background-color: #e4405f; */
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}

.img-text {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-camiseta {
    /* background-color: #e4405f; */
    width: 100%;
    padding-bottom: 1rem;
    border-radius: 2rem;
}

.img-camiseta img {
    width: 100%;
    border-radius: 2rem;
}



/*=======================================FOOTER===============================================*/

.footer-container {
    /* background-color: hwb(221 28% 3%); */
    /* background-color: hsl(221, 46%, 46%); */
    background-color: hsla(199, 75%, 42%, 0.443);
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding: 3rem 2rem .5rem 2rem;
}

.footer {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.redes-container {
    /* background-color: #e4405f; */
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.redes-container h4 {
    font-size: 1.2rem;
}

.option-footer {
    /* background-color: antiquewhite; */
    width: 25%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    /* padding-left: 10%; */
}

.option-footer a {
    /* background-color: #006236; */
    color: white;
    font-size: 1rem;
    width: fit-content;
}

.copy-container {
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}

.copy-container h5 {
    font-size: 1rem;
}

.option-footer a:hover {
    /* color: #e4405f; */
    /* color: rgb(138, 018, 020); */
    color: red;
}

.redes-sociales {
    display: flex;
    align-items: center;
    justify-content: center;
}

.redes-sociales a {
    display: inline-block;
    text-decoration: none;
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    color: #fff;
    margin: 1rem;
    background-color: #0d2033;
    text-align: center;
    border-radius: 0.4rem;
    font-size: 2rem;
}

/* .redes-sociales a:hover {
    transform: translateY(-5px) scale(1.05); + se agranda para abako - tamaño
    box-shadow: 0px 5px 5px 0px #0d2033; abajo derecha opasidad tamaño
} */

.redes-sociales .facebook:hover {
    background-color: #3b5999;
}

.redes-sociales .instagram:hover {
    background-color: #e4405f;
}

.redes-sociales .twitter:hover {
    background-color: #55acee;
}

/*========================================RESPONSIVE=====================================*/

@media (max-width: 1250px) {
    .welcome-container {
        font-size: 1rem;
    }

    /* .header-container {
        flex-direction: column;
        align-items: center;
    } */

    .camp-container {
        flex-direction: column;
        width: 100vw;
        align-items: center;
    }

    .img-camp {
        width: 90vw;
    }

    .camp-info {
        width: 90vw;
        font-size: 1.2rem;
    }

    .nav-container {
        height: 10vh;
    }

    .menu-nav {
        position: fixed;
        width: 100vw;
        height: calc(50vh - 10vh);
        top: -100vh;
        transition: all .4s;
        flex-direction: column;
        /* background-color: #414141; */
        background-color: rgb(138, 018, 020);
        padding: 0%;
        z-index: 10;
    }

    .btn-menu {
        display: inline-flex;
    }
}

@media (max-width: 858px) {

    .nav-container {
        height: 10vh;
    }

    .menu-nav {
        position: fixed;
        width: 100vw;
        height: calc(50vh - 10vh);
        top: -100vh;
        transition: all .4s;
        flex-direction: column;
        /* background-color: #414141; */
        background-color: rgb(138, 018, 020);
        padding: 0%;
        z-index: 10;
    }

    .btn-menu {
        /* background-color: #55acee; */
        width: 20%;
        display: inline-flex;
        justify-content: end;
    }

    .header-container {
        flex-direction: column;
        align-items: center;
    }

    .carrusel-container {
        width: 100vw;
    }

    .welcome-container {
        width: 100%;
        font-size: 1rem;
    }

    .img-container img {
        height: 35px;
    }

    .name-container a {
        font-size: 1rem;
    }

    .img-and-name {
        /* background-color: #55acee; */
        width: 65%;
    }

    .camp-container {
        flex-direction: column;
        width: 100vw;
        align-items: center;
    }

    .img-camp {
        width: 90vw;
    }

    .camp-info {
        width: 90vw;
        font-size: 1rem;
    }

    .footer {
        flex-direction: column;
        width: 100vw;
        text-align: center;
        margin: 0%;
        align-items: center;
    }

    .option-footer {
        /* background-color: #0d2033; */
        width: 100%;
        padding: 0%;
        padding-top: 1rem;
        align-items: center;
    }

    .option-footer a {
        /* background-color: #006236; */
        width: fit-content;
        font-size: 1rem;
    }

    .redes-container {
        width: 100%;
        text-align: center;
        padding-top: 2rem;
    }

    .redes-container h4 {
        font-size: 1rem;
    }

    .footer-container {
        padding: 0%;
    }

    .copy-container h5 {
        font-size: 0.8rem;
        text-align: center;
    }

    .title-img-e {
        width: 100%;
        padding: 0%;
    }

    .section-dt {
        flex-direction: column;
        width: 100vw;
    }

    .dt-container  {
        width: 100%;
    }

    .camisetas {
        flex-direction: column;
        align-items: center;
    }

    .img-text {
        width: 80%;
        padding-bottom: 2rem;
    }

    .img-camiseta {
        padding-bottom: 1rem;
    }

}