
body {
    padding: 0%;
    margin: 0%;
    background-color: bisque;
}

a {
    text-decoration: none;
}

/*========================================Navegacion=====================================*/

.nav-container {
    background-color: #001dc2cc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 10vh;
    /* min-height: 50%; */
}

.img-and-name {
    /* background-color: brown; */
    width: 40%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 1rem;
}

.img-container img {
    /*background-color: brown;*/
    height: 55px;
    margin-right: 0.5rem;
    margin: 0.5rem;
}

.name-container a {
    color: white;
}

.menu-nav {
    /* background-color: brown; */
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.menu-nav li {
    /* background-color: brown; */
    padding: 0.4rem;
    border-radius: 0.5rem;
}

.menu-nav li:hover {
    background-color: rgba(0, 0, 0, .3);
}

.menu-nav a {
    /* background-color: cadetblue; */
    color: white;
    text-transform: uppercase;
    text-align: center;
}

.btn-menu {
    font-size: 25px;
    margin-right: 20px;
    color: white;
    cursor: pointer;
    display: none;
}

ul.show {
    top: 65px;
    color: blue;
}

/*========================================RESPONSIVE=====================================*/

@media (max-width: 858px) {

    .nav-container {
        height: 10vh;
    }

    .menu-nav {
        position: fixed;
        width: 100vw;
        height: calc(50vh - 10vh);
        top: -100vh;
        transition: all .4s;
        flex-direction: column;
        background-color: #414141;
        padding: 0%;
    }

    .btn-menu {
        display: inline-flex;
    }
}